<h2>Propiedades</h2>

<ul class="propiedades">
  <li *ngFor="let propiedad of propiedades">
    <div *ngFor="let calles of propiedad._calles">
      <a
        routerLink="/propiedades/detail/{{ calles[0] }}/{{
          propiedad._numero
        }}/{{ propiedad._codpost }}"
      >
        <span class="badge">{{ propiedad._identificador }}</span>
        <span>Tipo:{{ propiedad._tipo }},</span>

        <span *ngIf="propiedad._propietario != ''">
          {{ propiedad._propietario }},
        </span>
        <span *ngIf="propiedad._propietario == ''">Sin propietario,</span>
        <span> Metros: {{ propiedad._metrosc }}</span>
        <span>, Precio: {{ propiedad.precio }} €</span>
      </a>
      <button
        class="delete"
        title="delete propiedad"
        (click)="delete(calles[0], propiedad._numero, propiedad._codpost)"
      >
        x
      </button>
    </div>
  </li>
</ul>
