form {
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 30px;
  background-color: rgb(224, 224, 224);
  border: 3px black solid;
}
ul {
  margin-left: 20px;
}
ul.etiquetas {
  text-align: left;
}
li {
  display: inline;
  text-align: left;
}
h1 {
  text-align: center;
  color: black;
}
button {
  margin: 5px;
}
