<h1>Añadir Transacción</h1>

<form>
  <ul>
    <li class="etiqueta"><label>Tipo de transacción:</label></li>
    <li class="datos">
      <select #tipo>
        <option selected>Seleccione el tipo de transacción</option>
        <option>Venta</option>
        <option>Alquiler</option>
      </select>
    </li>
  </ul>
  <p>Datos de los propietarios</p>
  <ul>
    <li class="etiqueta"><label>Introduzca el DNI del comprador:</label></li>
    <li class="datos">
      <select #DNIc>
        <option selected>Seleccione el DNI del comprador</option>
        <option *ngFor="let propt of propietarios" value="{{ propt._DNI }}">
          {{ propt._DNI }}
        </option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Introduzca el DNI del vendedor:</label></li>
    <li class="datos">
      <select #DNIv>
        <option selected>Seleccione el DNI del comprador</option>
        <option *ngFor="let propt2 of propietarios" value="{{ propt2._DNI }}">
          {{ propt2._DNI }}
        </option>
      </select>
    </li>
  </ul>
  <button (click)="getPropietarios()">Cargar Propietarios</button>
  <p>Datos de la propiedad</p>
  <ul>
    <li class="etiqueta"><label>Identificador de la propiedad:</label></li>
    <li class="datos">
      <select #idpropd>
        <option selected>Seleccione su Identificador</option>
        <option
          *ngFor="let propiedad of propiedades; let indice = index"
          value="{{ propiedad._identificador }}"
        >
          {{ propiedad._identificador }}
        </option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Plazos del pago:</label></li>
    <li class="datos"><input #plazos type="text" /></li>
  </ul>
  <button (click)="getPropiedades()">Cargar Propiedades</button>
  <button
    type="submit"
    (click)="
      save(tipo.value, DNIc.value, DNIv.value, idpropd.value, plazos.value)
    "
  >
    Guardar
  </button>
</form>
