/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #eee;
  width: 150px;
  text-align: center;
}
nav a.trans {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #eee;
  width: 175px;
}
nav a:visited,
a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
header li {
  display: inline;
}
header ul {
  background-color: black;
  width: auto;
}
footer {
  border: 2px black solid;
}

footer li {
  display: inline;
}
footer li.col1 {
  display: inline;
  margin-right: 150px;
}
footer li.col2 {
  display: inline;
  margin-right: 150px;
  margin-left: 125px;
}
footer li.col3 {
  display: inline;
  margin-left: 275px;
}
