<header>
  <nav>
    <ul>
      <li><a routerLink="/dashboard" class="a1">Inicio</a></li>
      <li><a routerLink="/propiedades" class="a2">Listar Propiedades</a></li>
      <li><a routerLink="/propietarios" class="a3">Listar Propietarios</a></li>
      <li>
        <a routerLink="/transacciones" class="a3">Listar Transacciones</a>
      </li>
      <li>
        <a routerLink="/crearpropiedades" class="a3">Añadir Propiedades</a>
      </li>
      <li>
        <a routerLink="/crearpropietarios" class="a3">Añadir Propietarios</a>
      </li>
      <li>
        <a class="trans" routerLink="/creartransacciones"
          >Añadir Transacciones</a
        >
      </li>
    </ul>
    <router-outlet></router-outlet>
  </nav>
</header>
<body></body>
<footer>
  <div>
    <ul>
      <li class="col1"><a>Proyecto creado por Daniel Caro Moriana</a></li>
      <li class="col2"><a>Modulo ASGBD</a></li>
      <li class="col3"><a>IES Punta del Verde</a></li>
    </ul>
  </div>
</footer>
